<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <% if(data.isVisible){ %>
        <h4> ERROR: <%= data.message %> </h4>
    <% } %>

    <form action="/api/user/login" method="post">
        <input type="text" name="login" placeholder="login" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit" >login</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
    </script>
</body>
</html>